* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
overflow-x: hidden;
}
.landing-page{
  margin-top: 10%;
}


body {
  font-family: "poppins" , sans-serif;
  color: #183b56;
  overflow-x: hidden;
}


h1 {
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-family: "roboto" , sans-serif;
  font-size: 1.25rem;
  color: #577592;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* top-banner */
.top-banner {
  font-size: 1rem;
  font-weight: 700;
  background-color: #308dad;
  background-image: url(./topbannerpattern.png);
  background-size: 300px;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: 20px;
  color: #fff;
  padding: 12px 24px;
  text-align: center;
}

/* navbar */
.navbar{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-img {
  width: 90px;
  margin-left: 60px;
}

.navbar-nav {
  margin-left: 18%;
}

.nav-link {
  margin: 8px;
  font-family: 'montserrat', sans-serif;
  font-weight: 600 !important; 
  font-size: 1.15rem !important;
}

.dropdown-item {
  font-family: 'montserrat';
  font-weight: 700;    
  font-size: 1.15rem;
}
/* Navbar button start */
.nav-button{
  margin-top: -1%;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* Navbar button end */


/* header */
.header-img {
  width: 90%;
  margin: 0% 20% 7% 10%;
}
.main-p {
      font-family: "montserrat";
      font-weight: 600;
      font-size: 1rem;
      margin: 0 7% 0 10%;
}

.main-h1 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3.5rem;
  margin: 2% 0 0 10%;
  margin-top: 80px;
}

.main-h1-2 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3.5rem;
  margin: 0 0 0 10%;
}

.main-btn {
  margin: 5% 14% 7% 10%;
  padding: 2% 3%;
}

.joinus-icon {
  width: 30px;   
}
/* Tablet view */
@media (max-width:820) {
.nav-img {
  width: 90px;
  margin-left: 30px;
}
  .main-h1 {
    font-size: 3rem;
      text-align: center;
      margin: 0% 0 0 2%;
  }
  .main-h1-2 {
    font-size: 3rem;
      text-align: center;
      margin: 0% 0 0 2%;
  }
  .main-p {
      text-align: center;
  }
  .main-btn {  
    margin: 7% 14% 7% 34%;
  }
  .big-illustrations {
      width: 80%;
  }

  .about-img {
    position: relative;
    top: 3%;
}
.about-text1 {
   font-size: 1rem;
 
    position: relative;
    bottom: 30%;
}
.about2-img {
    width: 50%;
    margin:5% 0 0 10% ;
    margin-bottom: 10%;
    position: relative;
    bottom: 260%;
    
}
.about-text2 {
    color:white;
    font-family: 'montserrat' , sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0 10% 0 5%;
    /* margin-top: 100px;    */
    text-align: left;
    position: relative;
    top: 3%;
    
}

}


/* mobile vieew img */
@media (max-width:768px) {
.nav-img {
  width: 90px;
  margin-left: 30px;
}
  .main-h1 {
    font-size: 3rem;
      text-align: center;
      margin: 0% 0 0 2%;
  }
  .main-h1-2 {
    font-size: 3rem;
      text-align: center;
      margin: 0% 0 0 2%;
  }
  .main-p {
      text-align: center;
  }
  .main-btn {  
    margin: 7% 14% 7% 34%;
  }
  .big-illustrations {
      width: 80%;
  }
  #about-us {
    margin-top: 0px;

  }
  .about-img {
      position: relative;
      top: 3%;
  }
  .about-text1 {
     font-size: 1rem;
   
      position: relative;
      bottom: 30%;
  }
  .about2-img {
      width: 70%;
      margin:5% 0 0 10% ;
      margin-bottom: 10%;
      position: relative;
      bottom: 260%;
      
  }
  .about-text2 {
      color:white;
      font-family: 'montserrat' , sans-serif;
      font-weight: 400;
      font-size: 15px;
      margin: 0 10% 0 5%;
      /* margin-top: 100px;    */
      text-align: left;
      position: relative;
      top: 3%;
      
  }
 
  
   

 
}

/* aboutus */
#about-us {
  background-color: #183b56;
  background-image: url(./topbannerpattern.png);
  background-size: 1000px;
  /* margin-top: 24% ; */
 
}
.abt-hr {
margin: 12px 0;
border: 0;
text-align: center;
}

.dot {
height: 13px;
width: 13px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
}

.abt-hr:before {
content: "••••";
font-size: 50px;
color: white;
}

.aboutus-h1 {
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 50px;
  color: white;
}
.about-img {
  width: 65%;
  margin:5% 0 0 10% ;
  margin-top: 100px;
}
.about2-img {
  width: 65%;
  margin:5% 0 0 10% ;
  margin-bottom: 10%;
}
.about-text1 {
  color:white;
  font-family: 'montserrat' , sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 10% 0 5%;
  margin-top: 250px;
  text-align: left;
  
}

.about-text2 {
  color:white;
  font-family: 'montserrat' , sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 10% 0 5%;
  margin-top: 150px;   
  text-align: left;
  
}

@media (max-width:768px) {
.about-img {
  position: relative;
  top: 1%;
}
.about-text1 {
font-weight: 500;
font-size: 15px;
  position: relative;
  bottom: 45%;
}
.about2-img {
  width: 70%;
  margin:5% 0 0 10% ;
  margin-bottom: 10%;
  position: relative;
  bottom: 140%;
  
}
.about-text2 {
  color:white;
  font-family: 'montserrat' , sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0 10% 0 5%;
  /* margin-top: 100px;    */
  text-align: left;
  position: relative;
  top: 50%;
  
}
}

/* domain */


.domain-row {
  text-align: center;
  padding: 0% 5%;
}

.domain-type {
  padding: 4%;
}
.domain-icon {
  width: 70px;
  padding: 3%;
}

.domain-heading {
  font-family: 'montserrat';
  font-weight: 700;
  size: 2rem;
}
.domain-title{
  text-align: center;
  margin: 5%;
}
.d-titleh1 {
  font-family: 'montserrat';
  font-weight: 900;
}

@media (max-width:768px) {
.domain-type {
  padding: 12%;
}
}

/* graphs */



/* blogs */
#Blog {
  background-color: #183b56;
  background-image: url(./topbannerpattern.png);
  background-size: 1000px;
}

.blog-title{
  color: #fff;
  text-align: center;
  margin: 5%;
  
}
.b-titleh1 {
  font-family: 'montserrat';
  font-weight: 700;
  padding-top: 50px;
}
.b-p {
  color: rgb(170, 181, 181);
}

.card {
  /* padding: 5% 10%; */
  margin: 7% 14% 10% 14%;
}

.card-title {
  font-family: 'montserrat';
  font-weight: 700;
}

.card-text {
  font-family: 'montserrat';
  
}

.blog-btn {
  padding: 2% 7%;
}
.more-blogs {
  margin-left: 43%;
  margin-bottom: 3%;
}

/* Maps */
@media (max-width: 767px) {
.maps iframe {
  display: none;
}
}

.maps{
padding-top: 50px;
margin-left: 20px;
}


/* footer start css*/
#Footer {
background-color: #263238;
overflow: 0;
overflow-x: hidden;
/* max-height: 500px; */
}

.footer-b {
margin: 4%;
color: #fff;
position: relative;
bottom: 100px;
left: 12%;
}
.footer-logo-women {
width: 30%;
margin: 0 0 2% 15%;
}

.footer-logo-rait {
width: 30%;
margin: 6% 0 6% 15%;
}
.footer-logo-acm {
width: 28%;
margin: 2% 0 2% 15%;
}

.footer-p {
color: white;
margin: 0% 5% 0% 15%;
font-size: 0.9rem;
}

.footer-contact {
color: #fff;
margin: 15% 7% 0% 15%;
font-size: 1.5rem;
position: relative;
bottom: 5px;
}

.Footer-socials {
font-family: 'poppins';
font-size: 1.5rem;
color: #fff;
margin: 14% 5% 0% 15%;
position: relative;
bottom: 100px;
}

.footer-email{
color: #fff;
font-size: 1rem;
margin:3% 15% 0% 15% ;
position: relative;
text-decoration: underline;
}

@media(max-width:768px) {

#Footer {
 
  overflow: 0;

}

.Footer-socials {
  font-size: 1.8rem;
  color: #fff;
  margin: 5% 15% 7% 15%;
  position: relative;
  bottom: 100px;

  
}
.footer-b {
  margin: 4%;
  color: #fff;
  position: relative;
  bottom: 120px;

   
}
.footer-contact {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
  top: 150px;

}

.footer-email{
  color: #fff;
  position: relative;
  top: 150px;
  text-decoration: underline;
}
}

/* footer end css */


/* contact us card */

/* #join-us{
display: flex;
} */


.background {
  display: flex;
  min-height: 70vh;
  justify-content: center;
  align-items: center;
}

.container-contactus {
  flex: 0 1 700px;
  margin: auto;
  margin-top: 26px;
margin-bottom: 70px;
  background-color: cadetblue;
  background: rgb(2,0,36);
  background: linear-gradient(60deg, rgba(2,0,36,0.8057816876750701) 25%, rgba(8,101,144,1) 45%, rgba(0,212,255,1) 100%);
  border-radius: 5px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
  
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}


.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 26px;
  animation: contactlinedisplay 3s;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 100px;
  animation-fill-mode: forwards;
}


.rait-address{
  text-align: left;
  color: #ffffffda;
  padding-top: 7%;
}

/* .rait-details{
  color: #ffffffda;
} */

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
  animation: linedisplay 3s;
  animation-fill-mode: forwards;
}

.app-form-control::placeholder {
  color: white;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #301E67;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 10px;
}

.app-form-button:hover {
  color: #301E67;
  transform: scale(1.2);
}

 

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    /* flex-direction: row; */
    font-size: 2.5rem;
    

  }

  .app-title span {
    margin-right: 20px;
  }

  .app-title:after {
    display: none;
  }

  .rait-address{
    color: #ffffffda;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@keyframes linedisplay {
 from{
  border-bottom: 1px solid black;
  width: 0px;
 }to{
  border-bottom: 1px solid black;
  width: 100%;
  
 }
}

@keyframes contactlinedisplay {
  from{
      border-bottom: 1px solid black;
      width: 0px;
     }to{
      border-bottom: 1px solid black;
      width: 100%;
     }
}


.event-info{
font-family: 'roboto';
font-weight: 500;
line-height: 1.0;
font-size: 15px;
}

img {
width: auto;
max-height: 100%;
}

.event-logo{
padding: 6%;
width: 75%;
}

.ag-format-container {
width: 1160px;
margin: 0 auto;

position: relative;
}

.ag-timeline_title-box {
padding: 120px;
text-align: center;
}
.main-title {
font-family: 'montserrat';
font-weight: 300;
font-size: 50px;
}

.ag-timeline_title {
background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
background-repeat: no-repeat;
background-position: 50% 50%;
padding-bottom: 15px;
background-size: cover;
-webkit-background-clip: text;
background-clip: text;
color: #00308F;
font-size: 30px;
}

.quote {
padding: 0%;
}

.title {
padding:0%;
}

.dotted {
border-color: grey;
width:25%;
}

.ag-timeline_tagline {
font-size: 40px;
color: rgb(84, 89, 95);
padding-top: 15px;
}

.ag-timeline_item {
margin: 0 0 50px;

position: relative;
}
.ag-timeline_item:nth-child(2n) {
text-align: right;
}

.ag-timeline {
display: inline-block;
width: 100%;
max-width: 100%;
margin: 0 auto;

position: relative;
}
.ag-timeline_line {
width: 2px;
background-color: #393935;

position: absolute;
top: 2px;
left: 50%;
bottom: 0;

overflow: hidden;

-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
-o-transform: translateX(-50%);
transform: translateX(-50%);
}

.ag-timeline_line-progress {
width: 100%;
height: 20%;
background-color: #00BFFF;
}

.ag-timeline-card_box {
padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
display: inline-block;
margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
height: 50px;
line-height: 50px;
width: 50px;
border: 3px solid #00BFFF;
background-color: #7B68EE;
text-align: center;
font-family: 'ESL Legend', sans-serif;
font-size: 20px;
color: #FFF;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
color: #1d1d1b;
background-color: #00BFFF;
}
.ag-timeline-card_meta-box {
display: inline-block;
}
.ag-timeline-card_meta {
margin: 10px 0 0;

font-family: 'ESL Legend', sans-serif;
font-weight: bold;
font-size: 28px;
color: #00BFFF;
}
.ag-timeline-card_item {
display: inline-block;
width: 45%;
height: auto;
margin: -77px 0 0;
background-color: #0071c5;
opacity: 0;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
-moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
-o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
box-shadow: 0 0 0 0 rgba(0,0,0,.5);

-webkit-transition: -webkit-transform .5s, opacity .5s;
-moz-transition: -moz-transform .5s, opacity .5s;
-o-transition: -o-transform .5s, opacity .5s;
transition: transform .5s, opacity .5s;

position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
-webkit-transform: translateX(-200%);
-moz-transform: translateX(-200%);
-ms-transform: translateX(-200%);
-o-transform: translateX(-200%);
transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
-webkit-transform: translateX(200%);
-moz-transform: translateX(200%);
-ms-transform: translateX(200%);
-o-transform: translateX(200%);
transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
opacity: 1;

-webkit-transform: translateX(0);
-moz-transform: translateX(0);
-ms-transform: translateX(0);
-o-transform: translateX(0);
transform: translateX(0);
}
.ag-timeline-card_arrow {
height: 18px;
width: 18px;
margin-top: 20px;
background-color: #282828;

z-index: -1;
position: absolute;
top: 0;
right: 0;

-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
margin-left: calc(-18px / 2);
margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
margin-left: -10px;

right: auto;
left: 0;
}
.ag-timeline-card_img {
width: 100%;
height: auto;
}
.ag-timeline-card_info {
padding: 20px 30px;
}
.ag-timeline-card_title {
display: none;
margin: 10px 0 0;

font-family: 'ESL Legend', sans-serif;
font-weight: bold;
font-size: 28px;
color: #FF0;
}
.ag-timeline-card_desc {
line-height: 1.45;

font-size: 20px;
color: #FFF;
}


@media only screen and (max-width: 979px) {
.ag-timeline_line {
  left: 30px;
}

.ag-timeline_item:nth-child(2n) {
  text-align: left;
}

.ag-timeline-card_box,
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 0 20px;
}
.ag-timeline-card_meta-box {
  display: none;
}
.ag-timeline-card_point-box,
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 0 0 8px;
}
.ag-timeline-card_point {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.ag-timeline-card_item {
  width: auto;
  margin: -65px 0 0 75px
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  right: auto;
  left: 0;
}
.ag-timeline-card_title {
  display: block;
}
.ag-timeline-card_arrow {
  margin-top: 12px;
}
}

@media only screen and (max-width: 767px) {
.ag-format-container {
  width: 96%;
}

.ag-timeline-card_img {
  height: auto;
  width: auto;
}
}

@media only screen and (max-width: 639px) {
.ag-timeline_title {
  font-size: 60px;
}

.ag-timeline-card_info {
  padding: 10px 15px;
}
.ag-timeline-card_desc {
  font-size: 14px;
}
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
.ag-format-container {
  width: 750px;
}

}

@media (min-width: 980px) and (max-width: 1161px) {
.ag-format-container {
  width: 960px;
}


}

/* EVENTS START CSS */

/* General
------------------------------- */

#events-section{
height: 350px;
overflow: hidden;
}

.carousel-container {
position: relative;
max-width: 320px;
margin: auto auto auto auto;
perspective: 1200px;
}

.carousel {
/* position: absolute; */

transform-style: preserve-3d; 
animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
position: absolute;
width: 200px;
height: 150px;
top: 20px;
left: 10px;
right: 10px;
background-size: cover;
box-shadow:outset 0 0 0 2000px rgba(0,0,0,0.5);
display: flex;
}

span {
margin: auto;
font-size: 2rem;
}


.carousel__face:nth-child(1) {
background-image: url("/assets/img/acmgold.JPG");
transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
background-image: url("/assets/img/AR.JPG");
  transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
background-image: url("/assets/img/engessen.JPG");
transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
background-image: url("/assets/img/hoc.JPG");
transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
background-image: url("/assets/img/latex.JPG");
transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
background-image: url("/assets/img/postman.JPG");
transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
background-image: url("/assets/img/techwsummit.JPG");
transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
background-image: url("/assets/img/kyros.jpg");
transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
background-image: url("/assets/img/kleos.jpg");
transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
from {
  transform: rotateY(0deg);
}
to {
  transform: rotateY(-360deg);
}
}

@media (min-width: 600px){
#events-section{
  width: auto;
  overflow-x: hidden;
}

}


@media (max-width: 600px){
body{
 overflow-x: hidden;
  width: fit-content;
}
}