/* team */

/* navbar */
.navbar{
  background-color: white;
  position: fixed;
  z-index: 3;
  /* width: 100%; */
}
.nav-img {
  width: 90px;
  margin-left: 60px;
  /* position: fixed; */
}

.navbar-nav {
  margin-left: 18%;
}

.nav-link {
  margin: 15px;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;    
  font-size: 1.15rem;
}

.dropdown-item {
  font-family: 'montserrat';
  font-weight: 700;    
  font-size: 1.15rem;
}

/* navbar */

h2 {
  text-align: center;
  padding-top: 100px;
  font-family: "roboto";
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
}

h3 {
  text-align: center;
  font-family: "roboto";
  font-size: 2rem;
  font-weight: 700;
}

.core-p{
  text-align: center;
  font-family: 'roboto';
  padding-bottom: 25px;
  padding-top: 10px;
}
.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }


  .team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  .team .member .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
  }
  .team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  .team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  .team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
  }
  .team .member .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
  }
  .team .member .social a:hover {
    color: #428bca;
  }
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  .team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
  }
  .team .member:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
  }
  .team .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
  }
  
  /* HOD */
  .hodcard{
    position: relative;
    left: 27%;
  }
  .hodcard .hod {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    right: 10%;
    overflow: hidden;
    border-radius: 10px;
  }
  .hodcard .hod .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
  }
  .hodcard .hod .member-info-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    transition: bottom 0.4s;
  }
  .hodcard .hod .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
  }
  .hodcard .hod .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  .hodcard .hod .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
  }
  .hodcard .hod .social a {
    transition: color 0.3s;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
  }
  .hodcard .hod .social a:hover {
    color: #428bca;
  }
  .hodcard .hod .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  .hodcard .hod:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
  }
  .hodcard .hod:hover .member-info-content {
    bottom: 60px;
    transition: bottom 0.4s;
  }
  .hodcard .hod:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
  }
  @media (max-width: 767px){
    .hodcard{
      left: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px){
    .hodcard{
      left: 183px;
    }
  }
  @media (min-width: 1023px) and (max-width: 1439px){
    .hodcard{
      left: 331px;
    }
  }

.section-title h3{
  margin-top: 60px;
}

h3{
  color: rgb(0, 0, 0);
  padding: 2%;
}

/* Last Card */
.lastcard{
  position: relative;
  left: 450px;
}
.lastcard .lastclass {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.lastcard .lastclass .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.lastcard .lastclass .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}
.lastcard .lastclass .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.lastcard .lastclass .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.lastcard .lastclass .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}
.lastcard .lastclass .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}
.lastcard .lastclass .social a:hover {
  color: #428bca;
}
.lastcard .lastclass .social i {
  font-size: 18px;
  margin: 0 2px;
}
.lastcard .lastclass:hover .member-info {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}
.lastcard .lastclass:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}
.lastcard .lastclass:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}
@media (max-width: 767px){
  .lastcard{
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .lastcard{
    left: 183px;
  }
}
@media (min-width: 1023px) and (max-width: 1439px){
  .lastcard{
    left: 331px;
  }
}


/* footer */
#Footer {
  background-color: #263238;
  /* max-height: 500px; */
  overflow: hidden;
}
#Footer .row{
  height: fit-content;
 position: relative;
  top: 40px;
  margin-bottom: -20%;

}
.Footer-socials {
  font-family: 'poppins';
  font-size: 1.5rem;
  color: #fff;
  margin: 5% 15% 3% 15%;
  position: relative;
  bottom: 340px;
}
.footer-b {
 margin: 4%;
 color: #fff;
 position: relative;
  bottom: 340px;
  left: 12%;
}
.footer-logo-women {
  width: 30%;
  margin: 0 0 0 15%;
}

.footer-logo {
  width: 25%;
  margin: 9% 15% 7% 15%;
}
.footer-logo-acm {
  width: 20%;
  margin: 6% 15% 4% 15%;
}

.footer-p {
  color: white;
  margin: 0% 15% 20% 15%;
  font-size: 0.9rem;
}

.footer-contact {
  color: #fff;
  margin: 1% 15% 0% 15%;
  font-size: 1.5rem;
  position: relative;
  bottom: 70px;
}

.footer-email{
  color: #fff;
  font-size: 1rem;
  margin:0% 15% 20% 15% ;
  position: relative;
  bottom: 60px;
  /* left: 90px; */
  text-decoration: underline;
}

@media(max-width:768px) {
  .Footer-socials {
    font-size: 1.8rem;
    color: #fff;
    margin: 5% 15% 7% 15%;
    position: relative;
    bottom: 350px;
    text-align: left;
    text-decoration: none;

    
}
.footer-b {
    margin: 4%;
    color: #fff;
    position: relative;
    bottom: 370px;

     
 }
 .footer-contact {
    color: #fff;
    font-size: 1.8rem;
    position: relative;
    top: 100px;
    text-align: left;

}

.footer-email{
    color: #fff;
    position: relative;
    top: 120px;
    
    text-decoration: underline;
    text-align: left;
}
}
